@model UserAdministrationViewModel
@{
	Model.RoleList.Remove(Model.RoleList.Find(x => x.Name == "Administrator"));
}
<h1 class="font-weight-bold">Administrator page</h1>
<h3>Users</h3>
<ol>
	@foreach (var user in Model.UserList)
	{
		if (user.Role == "Administrator")
		{
			<li class="border m-2 p-2 text-black-50">
				<form>
					<button type="button" class="float-right text-black-50">DELETE</button>
				</form>
				@user.ToString()
			</li>
		}
		else
		{
			<li class="border m-2 p-2">
				<div class="nav float-right">
					<form method="post" asp-controller="Home" asp-action="AdministratorsModeration" asp-route-userName="@user.UserName">
						@*<input name="userName" value="@user.UserName" hidden="hidden" />*@
						<select name="role" asp-items="@(new SelectList(Model.RoleList))" oninput="this.form.submit();">
							<option hidden="hidden" selected="selected" disabled="disabled">Change Role?</option>
						</select>
						<button type="submit" name="action" value="Delete" class="bg-danger">DELETE</button>
					</form>
				</div>
				@user.ToString()
			</li>


		}
	}
</ol>
