@model SummarizingViewModel

<h1>Polles Page</h1>
<hr>
<h2>Questions</h2>
<ol>
	@foreach (var question in Model.CurrentPollQuestions)
	{
		<li class="border border-dark m-2 p-1" style="border-radius: 0.5em">
			<p><b>Description: </b>@question.Question</p>
			<hr>
			<p class="text-center">@Model.QuestionSummarizing(question)<p>
		</li>
	}
</ol>
@if (User.IsInRole("LeadManager"))
{
	if (Model.statusName == "Closed")
	{
		<h6 class="alert-success text-center p-2" style="border-radius: 0.5em">This poll was closed, now you can remove it from polls list.</h6>
	}
	else
	{
		<form method="post" asp-controller="Home" asp-action="PollChangeState" asp-route-pollId="@Model.pollId">
			<div class="text-center">
				@foreach (var statusType in Model.PollStatusList)
				{
					<button class="bg-white" style="border-radius: 0.5em" name="statusTypeId" value="@statusType.Id">@statusType.StatusName</button>
				}
			</div>
		</form>
	}
}