@model SummarizingViewModel

<h1>Polles Page</h1>
<hr>
<h2>Questions</h2>
<ol>
	@foreach (var question in Model.CurrentPollQuestions)
	{
		<li class="border border-dark m-2 p-1" style="border-radius: 0.5em">
			<p><b>Description: </b>@question.Question</p>
			<hr>
			<p class="text-center @question.Id">@Model.QuestionSummarizing(question)<p>
		</li>
	}
</ol>
@if (User.IsInRole("LeadManager"))
{
	if (Model.statusName == "Closed")
	{
		<h6 class="alert-success text-center p-2" style="border-radius: 0.5em">This poll was closed, now you can remove it from polls list.</h6>
	}
	else
	{
		<form method="post" asp-controller="Home" asp-action="PollChangeState" asp-route-pollId="@Model.pollId">
			<div class="text-center">
				@foreach (var statusType in Model.PollStatusList)
				{
					<button class="bg-white" style="border-radius: 0.5em" name="statusTypeId" value="@statusType.Id">@statusType.StatusName</button>
				}
			</div>
		</form>
	}
}

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
	const hubConnection = new signalR.HubConnectionBuilder()
		.withUrl("/update")
		.build();

	hubConnection.on("Send", function (data) {
		let argsArray = data.split(" ");
		let elem = document.getElementsByClassName(argsArray[0])[0].textContent;
		let splittedElem = elem.split(" ");
		for (let i = 0; i < splittedElem.length; i++) {
			if (splittedElem[i] == argsArray[1]) {
				splittedElem[i + 2] = parseInt(splittedElem[i + 2]) - 1;
			}

			if (splittedElem[i] == argsArray[2]) {
				splittedElem[i + 2] = parseInt(splittedElem[i + 2]) + 1;
			}
		}
		document.getElementsByClassName(argsArray[0])[0].textContent = splittedElem.join(" ");
	});

	hubConnection.start();
</script>
@if (User.IsInRole("LeadManager"))
{
	<script type="text/javascript">
		let buttonsCount = document.getElementsByName("statusTypeId").length
		for (let i = 0; i < buttonsCount; i++) {
			document.getElementsByName("statusTypeId")[i].addEventListener("click", function (e) {
				hubConnection.invoke("UpdatePollStatus", this.textContent.toString() + " " + @Model.pollId.ToString());
			})
		}
	</script>
}
else
{
<script type="text/javascript">
		hubConnection.on("UpdatePollStatus", function (data) {
			let status = data.toString().split(" ")[0];
			let pollId = data.toString().split(" ")[1];
			if (pollId == @Model.pollId.ToString()) {
				if (status == "Opened") {
					window.location.href = '@Url.Action("OpenedPoll", "Home")?pollId=' + '@Model.pollId';
				}
				else {
					window.location.href = '@Url.Action("PollSummarizing", "Home")?pollId=' + '@Model.pollId';
				}
			}
			});
</script>
}