@*@using Microsoft.AspNetCore.Identity
	@using System.Security.Claims
	@inject UserManager<IdentityUser> UserManager
	@inject SignInManager<IdentityUser> SignInManager*@
@model PrivateInfoModel
@{
	ViewData["Title"] = "Profile information";
}

<h2>@ViewData["Private Information"]</h2>
<hr>
<div>
	<h3>@ViewData["External login providers"]</h3>
	<ul style="list-style-type:circle;">
		@if (Model.CurrentLogins?.Count == 0)
		{
			<li style="font-style:italic">@ViewData["NONE"]</li>
		}
		@foreach (var providers in Model.CurrentLogins)
		{
		<li>@(providers.ProviderDisplayName)</li>
		}

	</ul>
</div>
<div class="table-bordered">
	<table style="width:100%;">
		<tr>
			<th>@ViewData["Authenticated User"]</th>
			<th>@ViewData["Username"]</th>
			<th>@ViewData["Email"]</th>
			<th>@ViewData["Phone number"]</th>
		</tr>
		<tr>
			<td>@(Model.IsAuthenticated ? "Authenticated" : "Not Authenticated")</td>
			@if (Model.IsAuthenticated == true)
			{
				<td>@(Model.User.UserName)</td>
				<td>@(Model.User.Email)</td>
				<td>@(Model.User.PhoneNumber)</td>
			}
			else
			{
				<td>-</td>
				<td>-</td>
				<td>-</td>
			}
		</tr>
	</table>
</div>

<h3>
	@ViewData["Claims"]</h3>
<div class="table-bordered">
	<table style="width:100%;">
		<tr>
			<th>@ViewData["Subject"]</th>
			<th>@ViewData["Issuer"]</th>
			<th>@ViewData["Type"]</th>
			<th>@ViewData["Value"]</th>
		</tr>
		@foreach (var claim in Model.Claims)
		{
			<tr>
				<td>@(claim.Name)</td>
				<td>@(claim.Issuer)</td>
				<td>@(claim.Type)</td>
				<td>@(claim.Value)</td>
			</tr>
		}
	</table>
</div>
