@*@using Microsoft.AspNetCore.Identity
	@using System.Security.Claims
	@inject UserManager<IdentityUser> UserManager
	@inject SignInManager<IdentityUser> SignInManager*@
@model PrivateInfoModel
@{
	ViewData["Title"] = "Profile information";
}

<h2>Private Information</h2>
<hr>
<div>
	<h3>External login providers</h3>
	<ul style="list-style-type:circle;">
		@if (Model.currentLogins?.Count == 0)
		{
			<li style="font-style:italic">NONE</li>
		}
		@foreach (var providers in Model.currentLogins)
		{
		<li>@(providers.ProviderDisplayName)</li>
		}

	</ul>
</div>
<div class="table-bordered">
	<table style="width:100%;">
		<tr>
			<th>Authenticated User</th>
			<th>Username</th>
			<th>Email</th>
			<th>Phone number</th>
		</tr>
		<tr>
			<td>@(Model.IsAuthenticated ? "Authenticated" : "Not Authenticated")</td>
			@if (Model.IsAuthenticated == true)
			{
				<td>@(Model.user.UserName)</td>
				<td>@(Model.user.Email)</td>
				<td>@(Model.user.PhoneNumber)</td>
			}
			else
			{
				<td>-</td>
				<td>-</td>
				<td>-</td>
			}
		</tr>
	</table>
</div>

<h3>Claims</h3>
<div class="table-bordered">
	<table style="width:100%;">
		<tr>
			<th>Subject</th>
			<th>Issuer</th>
			<th>Type</th>
			<th>Value</th>
		</tr>
		@foreach (var claim in Model.claims)
		{
			<tr>
				<td>@(claim.Name)</td>
				<td>@(claim.Issuer)</td>
				<td>@(claim.Type)</td>
				<td>@(claim.Value)</td>
			</tr>
		}
	</table>
</div>