@model QuestionViewModel
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

<h4>Question Description</h4>
<p><b>Description: </b>@Model.Question.Question</p>
@if (Model.Question.FileId != null)
{
	<button form="downloading-form" class="bg-white" style="border-radius: 0.5em" name="questionId" value="@Model.Question.Id">Download document</button>
}

<div style="text-align:center">
	@foreach (var voteType in Model.VotesTypes)
	{
		if (Model.Votes.Find(x =>
		x.QuestionId == Model.Question.Id && x.UserId == Model.User.Id && x.VoteTypeId == voteType.Id) != null)
		{
			<input class="btn btn-primary" style="border-radius: 0.5em" type='button' id="@voteType.Id@Model.Question.Id" value='@voteType.VoteName' />
		}
		else
		{
			<input class="bg-white btn border-dark" style="border-radius: 0.5em" type='button' id="@voteType.Id" value='@voteType.VoteName' />
		}

<script type="text/javascript">

			$(document).ready(function () {
				$('#@Model.Question.Id #@voteType.Id').click(function (e) {
					e.preventDefault();
						$('#@Model.Question.Id').load('@Url.Action("Voting", "Home")?questionId=' + '@Model.Question.Id' + '&voteType=' + '@voteType.Id')
					});
				});
</script>
	}
</div>